---
const formattedDateTime = new Date().toLocaleString();
---

<div id="container">The current date and time is: {formattedDateTime}</div>

<style>
  #container {
    width: 100%;
    min-height: 70vh;
    min-width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
